a
  text-decoration: none
  outline: 0
  -webkit-transition: color .5s linear
  -moz-transition: color .5s linear
  -ms-transition: color .5s linear
  -o-transition: color .5s linear
  transition: color .5s linear

.dark-box
  a
    color: $ed-yellow

    &:hover
      color: $ed-orange-dark

.light-box
  a
    color: $ed-orange-dark

    &:hover
      color: $ed-yellow

.contact-link
  display: inline-block
  padding-bottom: 10px
