body
  background-color: $ed-cream-light
  font-size: 14px
  line-height: 1.6
  font-family: sans-serif
  color: $ed-grey-dark
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%

footer
  background-color: $ed-grey-dark
  height: 100px
  width: 100%

.center
  max-width: 400px
  margin: 0 auto
  padding: 10px

.dark-box
  background-color: $ed-green-dark
  color: $ed-cream-light
  
.nav-space
  height: 40px
