body
  background-color: $ed-cream-light

footer
  background-color: $ed-grey-dark
  height: 100px
  width: 100%

.dark-box
  background-color: $ed-green-dark
  color: $ed-cream-light

section
  overflow: auto
  min-height: 50vh

.trans-img img
  width: 100%
  margin-bottom: -20px
  //box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)

.nav-space
  height: 2em

.pic
  width: 95%
  box-shadow: 1px 1px 5px #888888

//Single Column
.center
  max-width: 80%
  margin: 0 auto
  padding: 2em

//Double Column
.half-holder
  width: 100%


.left-half, .right-half
  display: inline-block
  width: 50%

.left-half
  float: left

.right-half
  float: right

.twin
  width: 80%
  padding: 1em
  padding-bottom: 2em

.l-twin
  float: right

.r-twin
  float: left

@media (max-width: 768px)
  .left-half, .right-half
    display: block
    width: 100%

  .left-half, .right-half,
  .l-twin, .r-twin
    float: none
    margin: 0 auto


  //Landscape phone to portrait tablet
  //@media (max-width: 767px)
    font-size: 20px
  // Landscape phones and down
  //@media (max-width: 480px)
    font-size: 14px
  //Portrait tablet to landscape and desktop
  //@media (min-width: 768px) and (max-width: 979px)
    font-size: 24px
  //Large desktop
  //@media (min-width: 1200px)
    font-size: 30px
