body
  background-color: $ed-cream-light
  font-size: 14px
  line-height: 1.6
  font-family: sans-serif
  color: $ed-grey-dark
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%

footer
  background-color: $ed-grey-dark
  height: 100px
  width: 100%

.dark-box
  background-color: $ed-green-dark
  color: $ed-cream-light

section
  overflow: auto

.nav-space
  height: 40px

.pic
  box-shadow: 1px 1px 5px #888888

//Single Column
.center
  max-width: 400px
  margin: 0 auto
  padding: 10px

//Double Column
.half-holder
  width: 100%

.left-half, .right-half
  display: inline-block
  width: 50%

.left-half
  float:left

.right-half
  float: right

.twin
  width: 300px
  padding: 10px

.l-twin
  float: right

.r-twin
  float: left

@media (max-width: 560px)
  .left-half, .right-half
    display: block
    width: 100%

  .left-half, .right-half,
  .l-twin, .r-twin
    float: none
