.q-box
  cursor: pointer
  height: 0px
  width: 100%
  text-align: left
  overflow: hidden
  margin-bottom: 10px

.read-more, .close-it
  color: $ed-orange-dark

  &:hover
    color: $ed-yellow

.q-explain
  margin-top: -50px

.big
  height: 100%

.hide-me
  color: transparent
  &:hover
    color: transparent
