.q-box
  cursor: pointer
  width: 100%
  height: 0
  text-align: left
  overflow: hidden
  margin-bottom: 10px

.q-box
  transition: height 1s ease-in

  a
    color: $ed-orange-dark
    cursor: pointer

    &:hover
      color: $ed-orange-light

@media (max-width: 767px)
  .l-twin .q-box
    height: 0 !important
