.blog-container
  margin: 0 auto

.box
  position: relative
  height: 50%
  width: 50%
  float: left
  overflow: hidden
  transition: all 0.3s ease-out
  color: $ed-cream-light

  p
    margin-top: 5px
    margin-bottom: 0.4em
    padding: 0px 10px

  .hidden-text
    margin-top: 0
    display: none

.slide-button
  display: inline-block
  background-color: $ed-cream-light
  color: $ed-grey-dark
  text-decoration: none
  position: absolute
  text-align: center
  padding: 0.1em 0
  width: 50%
  right: -100%
  bottom: 0
  transition: all 0.5s ease-in-out

  &:hover
    background-color: $ed-grey-dark
    color: #eee

.blog-header, .blog-footer
  display: block
  padding: 1em
  background-color: $ed-grey-dark

.blog-cta
  display: inline-block
  padding: 0.2em 1em
  color: inherit
  border: 1px solid $ed-cream-light

  &:hover
    border: $ed-orange-light

.blog-footer
  padding: 1.1em

.top-left
  background-color: $ed-orange-light

.top-right
  background-color: $ed-yellow

.bottom-left
  background-color: $ed-grey-light

.bottom-right
  background-color: $ed-green-light

@media (max-width: 768px)
  .blog-container
    height: 375px !important
