.blog-container
  max-width: 400px
  height: 300px
  margin: 0 auto

.box
  position: relative
  height: 50%
  width: 50%
  float: left
  overflow: hidden
  transition: all 0.3s ease-out
  color: $ed-cream-light

  p
    margin-top: 5px
    padding: 0px 10px

  .hidden-text
    display: none
    font-size: 12px

.slide-button
  display: inline-block
  background-color: $ed-cream-light
  color: $ed-grey-dark
  text-decoration: none
  position: absolute
  text-align: center
  padding: 10px 0
  width: 50%
  right: -100%
  bottom: 0
  transition: all 0.5s ease-in-out

  &:hover
    background-color: $ed-grey-dark
    color: #eee


.top-left
  background-color: $ed-orange-light

.top-right
  background-color: $ed-yellow

.bottom-left
  background-color: $ed-grey-light

.bottom-right
  background-color: $ed-green-light

#mobile-blog-cta
  display: none

@media (max-width: 700px)
  #mobile-blog-cta
    display: block
    margin-top: 20px

  #desktop-blog-cta
    display: none
