table
  width: 100%

td
  font-family: $body-font

.icon-box
  height: 30px
  width: 30px

.contact-icon
  height: 24px
  width: 24px
  transition: all 0.3s ease-out

  &:hover
    height: 35px
    width: 30px


.contact-explain
  padding: 5px 20px
