header#home
  //height: 100vh
  display: inline-block
  //overflow: hidden


  padding: 0
  margin: 0
  width: 100%
  position: relative
  top: 0
  left: 0
  z-index: -1

#home img
  position: absolute
  display: block
  float: none
  margin: 0 auto
  left: 0
  top: 0
  min-width: 100%
  min-height: 100vh
  z-index: 1

#home img.active
  z-index: 3

//@media (max-width: 500px)
  #home img
    width: 100%
    min-height: auto

  //.title-bar
    position: absolute
    width: 100%
    text-align: center
    left: 0
    top: 10vh
    bottom: 10vh

    //.title-holder
      height: 65vh
      padding-top: 10%

      //h2
        position: relative

  //.arrow-container
    position: absolute
    width: 100%
    height: 50px
    top: 60vh
    margin-left: auto
    margin-right: auto
    left: 0
    right: 0

  .bounce-arrow
    display: block
    margin: 0 auto
    cursor: pointer

//@media (max-width: 375px)
  .title-holder h2
    font-size: 16px

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)
  /* For iPad portrait layouts only */
  #home img
    left: -50vw

//@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)
  #home
    height: 100vw


// Everything below can go ...
//.title-bar
  position: absolute
  display: block
  width: 100%
  bottom: 10vh
  left: 4vw

//.title-holder
  padding: 15px
  display: inline-block
  background-color: rgba(0,0,0,0.5)
  text-align: center
  box-shadow: inset 0px 0px 0px 1px #eee

//  h1, h2
    color: $ed-cream-light
  h1
    font-size: 30px
    letter-spacing: .45em
    padding-left: .45em
    margin-top: 5px
  h2
    font-size: 18px
    letter-spacing: .15em

//.bounce-arrow
  display: none
 ... until here
