.vidroll
  position: absolute
  display: inline-block
  margin-top: -111vh
  margin-left: 80px
  height: 270vh
  width: 20vw
  //background-size: cover
  background-position-y: -10px
  background-repeat: repeat-y
  z-index: -1

.vidholder
  overflow-y: hidden

@media (max-width: 768px)
  .vidroll
    right: 0
    margin-top: -150vh
    width: 30%

  #videos .l-twin
    margin: 0 auto !important
    float: none !important
    background-color: rgba($ed-cream-light, 0.95)
    box-shadow: 1px 1px 5px #888888

  #videos .left-half
      display: block
      width: 100%

@media (max-width: 425px)
  .vidroll
    width: 50%
