.vidroll
  background-color: pink
  position: absolute
  margin-top: -125vh
  margin-left: 80px
  height: 200vh
  width: 30vw
  background-size: cover
  background-position-y: -10px
  background-repeat: repeat-y
  box-shadow: 1px 1px 5px #888888
  z-index: -1

@media (max-width: 767px)
  .vidroll
    right: 0

  #videos .l-twin
    margin: 0 auto !important
    float: none !important
    background-color: rgba($ed-cream-light, 0.8)
    box-shadow: 1px 1px 5px #888888
  #videos .left-half
      display: block
      width: 100%
