nav
  width: 100%
  top: 0
  background-color: $ed-grey-dark
  position: fixed
  z-index: 1

  ul
    list-style: none
    display: inline
    transition: all 0.3s ease-out
    padding: 0

    li
      display: inline-block
      padding: 5px 10px
      height: 100%
      transition: background-color 0.3s ease-out

      &:hover
        background-color: $ed-orange-light

      a
        color: $ed-cream-light
        display: inline-block

        &:hover
          color: $ed-cream-dark

.here
  background-color: $ed-orange-light

.nav-holder
  max-width: 800px
  padding: 0 40px
  margin: 0 auto

.nav-right
  display: inline-block
  float: right
  position: relative
  padding: 0px 10px
  border-left: 1px solid $ed-cream-light
  border-right: 1px solid $ed-cream-light

.nav-right h2, .nav-second h2
  font-weight: lighter
  color: $ed-cream-light
  letter-spacing: 0.3em
  margin: 0

.nav-second
  display: none
  text-align: center

@media (max-width: 768px)
  nav
    text-align: center
    ul
      border-top: 1px solid $ed-cream-light
      padding-top: 10px
      
  .nav-holder
    padding: 0

  .nav-right
    display: none

  .nav-second
    display: block
    margin: 0 0 5px 0
