nav
  height: 40px
  width: 100%
  top: 0
  background-color: $ed-grey-dark
  position: fixed
  z-index: 1

  ul
    list-style: none
    display: inline
    margin: 0 auto
    transition: all 0.3s ease-out

    li
      display: inline-block
      padding: 0px 10px
      height: 100%
      transition: background-color 0.3s ease-out

      &:hover
        background-color: $ed-orange-light

      a
        color: $ed-cream-light
        display: inline-block
        margin-top: 8px

        &:hover
          color: $ed-cream-dark

.here
  background-color: $ed-orange-light

@media (max-width: 400px)
  nav ul
    padding-left: 10px

    li
      font-size: 12px
      padding: 0px 5px
